body {
    background: lightgrey;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap:wrap;
}

.assignment{
    width:20%;
    padding:10px;
    margin:10px;
    padding:20px 10px;
    background: lightgray;
    border-radius: 25px;
}

.assignments img{
    width: 150px;
    height:200px;
    margin:10px;
    border:5px solid black;
    border-radius: 10px;
    padding:10px;
    display:block;
    margin:auto;
}

.assignments img:hover {
    border: 4px dashed orangered;
}

h1 {
    color:black;
    text-align: center;
}

h1:hover {
    color: black;
}



a{
    text-decoration:none;
    color:black;
}

a:hover {
    color: black;
}

p {
    color:black;
}